<div class="dashboard-container">
  <header class="top-bar">
    <div class="logo-section">
      <div class="logo" [routerLink]="['/home/inicio']" style="cursor: pointer">
        Octolab<span>Web</span>
      </div>
    </div>

    <div class="center-section">
      <button class="btn-download-modern" (click)="descargarAppPython()">Descargar App</button>
    </div>

<div class="right-section" style="display: flex; align-items: center; gap: 12px">
<button
  *ngIf="usuarioActivo?.rol === 'Invitado'"
  class="btn-login-nav"
  (click)="router.navigate(['/login'])">
  <span class="username">Iniciar sesión</span>
</button>

      <div class="profile-wrapper">
        <div class="user-profile-trigger" (click)="toggleMenu($event)">
          <div class="user-info-text">
            <span class="username">{{ usuarioActivo?.nombre || 'Usuario' }}</span>
            <span class="role">{{ usuarioActivo?.rol || 'Invitado' }}</span>
          </div>
          <div class="profile-circle-header">
            {{ usuarioActivo?.nombre?.charAt(0) || 'U' }}
          </div>
        </div>

        <div class="dropdown-menu" *ngIf="isMenuOpen" (click)="$event.stopPropagation()">
          <div class="dropdown-header">
            <div class="large-avatar-circle">
              {{ usuarioActivo?.nombre?.charAt(0) || 'U' }}
            </div>
            <div class="header-user-data">
              <strong class="user-full-name">{{ usuarioActivo?.nombre }}</strong>
              <small class="user-email-text">{{ usuarioActivo?.email }}</small>
            </div>
          </div>
          <div class="dropdown-divider"></div>
          <div class="dropdown-links">
            <button (click)="toggleTheme()">Tema {{ isDarkMode ? 'Claro' : 'Oscuro' }}</button>
            <button
              *ngIf="usuarioActivo?.rol !== 'Invitado'"
              routerLink="configuracion"
              (click)="isMenuOpen = false"
            >
              Configuracion de cuenta
            </button>
            <div class="dropdown-divider"></div>
            <button class="logout-btn" (click)="logout()">Cerrar sesion</button>
          </div>
        </div>
      </div>
    </div>
  </header>

  <main class="content-wrapper">
    <nav class="tab-bar">
      <a *ngIf="usuarioActivo?.rol === 'Admin'" routerLink="/admin" class="tab-item admin-tab"
        >Panel Admin</a
      >
      <a routerLink="inicio" routerLinkActive="active" class="tab-item">Inicio</a>
      <a routerLink="temario" routerLinkActive="active" class="tab-item">Temario</a>
      <a routerLink="comunidad" routerLinkActive="active" class="tab-item">Comunidad</a>
      <a routerLink="donaciones" routerLinkActive="active" class="tab-item">Donaciones</a>
    </nav>

    <section class="main-viewport">
      <router-outlet></router-outlet>
    </section>
  </main>
</div>
