<div class="login-screen">
  <div class="login-left">
<div class="login-brand">
  <img src="octolabweblogo.ico" alt="OctoLab" class="brand-logo" />
  <span class="brand-name">Octo<span class="brand-accent">Lab</span></span>
</div>

    <div class="login-form-area">
      <p class="login-sub">Bienvenido de nuevo</p>
      <h2>Inicia sesión en OctoLab</h2>

      <form (ngSubmit)="onLogin()">
        <div class="input-group">
          <label>Email</label>
          <input type="email" name="email" [(ngModel)]="loginData.email" placeholder="tu@email.com" required />
        </div>

        <div class="input-group">
          <label>Contraseña</label>
          <div class="password-wrapper">
            <input
              [type]="mostrarPassword ? 'text' : 'password'"
              name="password"
              [(ngModel)]="loginData.password"
              placeholder="••••••••"
              required
            />
<button type="button" class="toggle-password" (click)="mostrarPassword = !mostrarPassword">
  {{ mostrarPassword ? 'Ocultar' : 'Ver' }}
</button>
          </div>
        </div>


        @if (errorMessage) { <p class="error-msg">{{ errorMessage }}</p> }

        <button type="submit" class="btn-primary">Entrar</button>
        <button type="button" class="btn-guest" (click)="entrarComoInvitado()">Entrar como Invitado</button>
      </form>

      <p class="register-link">
        ¿No tienes cuenta? <a routerLink="/register">Regístrate aquí</a>
      </p>
    </div>
  </div>

  <div class="login-right">
    <div class="right-content">
      <h2>Aprende ciberseguridad de verdad</h2>
      <p>Enfrenta retos reales, gana puntos y avanza a tu ritmo.</p>
      <div class="features">
        <div class="feature">🔐 Módulos de ciberseguridad</div>
        <div class="feature">🏆 Sistema de puntos y logros</div>
        <div class="feature">🤝 Comunidad activa</div>
        <div class="feature">⚔️ Ataques y retos prácticos</div>
      </div>
    </div>
  </div>
</div>
